Profile

<%= @user.name %>
<br /><br />

<div>
	<%= render 'shared/post_form' %>
</div>

<% if !@user.posts.nil? %>
	<% @user.posts.each do |post| %>
		<%= render 'posts/post', post: post %>
		<% post.comments.each do |comment| %>
			<%= render 'comments/comment', comment: comment, post: post %>
		<% end %>
		<%= render 'shared/comment_form', post: post %>
	<% end %>
<% end %>