<div>
	<%= render 'shared/post_form' %>
</div>

<% if !@posts.nil? %>
	<% @posts.each do |post| %>
		<br />
		<%= post.content %>
		<%= "Posted by #{post.user.name}" %><%= link_to "delete", post, method: :delete, data: {confirm: "You sure?"} %>
		<%= render 'shared/like_form', post: post %>
		<%= "#{post.likes.count} likes" %>
		<br />
		<% post.comments.each do |comment| %>
			<%= comment.content %>
			<%= "#{comment.user.name}" %><%= link_to "delete", post_comment_path(comment.id, post.id), method: :delete, data: {confirm: "You sure?"} %>
			<br />
		<% end %>
		<%= render 'shared/comment_form', post: post %>
	<% end %>
<% end %>